[Unit]
Description=My Service
After=network.target

[Service]
Type=simple
ExecStart=/home/azureuser/run.sh
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
